@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: white;
    background-image: url('/imgs/Frame-11.jpg');
    background-size: cover;
    background-position: center;
}